.App {
    text-align: center;
}

.none{

color:red;
}

.mainwindow {
    width: 100vw;
    height: 92vh;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #161616;
}

.headerbtn {
    background-color: #252525;
    color: rgb(47, 130, 247);
    border: 2px solid rgb(47, 130, 247);
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    padding-inline: 20px;
    cursor: pointer;
}

.headerclass {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    background-color: #252525;
}

.textsec {
    width: 40vw;
    height: min-content;
    border-radius: 20px;
    background-color: #222222;
    height: max-content;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px #0f0f0f;
}

.mainimg {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toga {
    width: 70%;
}

.btn {
    padding-inline: 20px;
    padding: 10px;
    background-color: rgb(47, 130, 247);
    margin-top: 20px;
    border: none;
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #0f0f0f;
    transition-duration: 200ms;
}

.w-100 {
    width: 95%;
}

.btn:hover {
    cursor: pointer;
    border: 2px solid rgb(47, 130, 247);
    background-color: #161616;
    transition-duration: 200ms;
}

.unitext {
    color: white;
    font-size: 3rem;
    margin: 0px;
}

form {
    width: 100%;
}
.txt_fields {
    width: 90%;
    font-size: 1.1rem;
    padding: 10px;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    border: 3px solid rgb(47, 130, 247);
    background-color: #252525;
}

.ghead {
    width: 100%;
    background-color: #252525;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.gheadbtns {
    box-sizing: border-box;
    padding-inline: 20px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 1.3rem;
    background-color: #222222;
}

.gheadbtns:hover {
    color: rgb(47, 130, 247);
    cursor: pointer;
}

.select_fields {
    width: 100%;
    font-size: 1.1rem;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    border: 3px solid rgb(47, 130, 247);
    background-color: #252525;
}

.facform {
    width: 100%;
}

.alreadyloggedin {
    color: white;
    margin: 0px;
}

.form_input {
    width: 100%;
}

.form_data {
    color: white;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    background-color: #222222;
    box-shadow: 0px 0px 20px #0f0f0f;
    padding: 20px;
}
.AdminSidebar {
    width: 15vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 91.5vh;
    background-color: #252525;
}

.sidebarbtn {
    background-color: #222222;
    color: white;
    border: none;
    padding: 10px;
}

.sidebarbtn:hover {
    background-color: #525252;
}

.mainadmindiv {
    background-color: #131313;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.horcon {
    display: flex;
}

.fach1 {
    color: white;
    margin: 10px;
}

.dark-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #34495e;
}

.dark-table th,
.dark-table td {
    border: 1px solid #34495e;
    padding: 12px;
    color: white;
    text-align: left;
}

.dark-table th {
    background-color: #212f3d;
    color: #ecf0f1;
}

.dark-table tr:nth-child(even) {
    background-color: #34495e;
}

.operation-btn {
    display: inline-block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 10px;
}

.edit {
    background-color: #3498db;
    color: #ecf0f1;
    border: 1px solid #2980b9;
}

.delete {
    background-color: #e74c3c;
    color: #ecf0f1;
    border: 1px solid #c0392b;
}

.operation-btn:hover {
    background-color: #2980b9;
}

.delete:hover {
    background-color: #c0392b;
}

/* AdminDashboard.css */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
    margin-bottom: 15px;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.adddataabtn {
    margin: 10px;
}

.form_fac {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
